<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZR8M0RTGP0"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZR8M0RTGP0');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Background From Images</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>

</head>
<body>

    <nav>Remove <b>AI</b></nav>

    <div id="wrapper">
        <div class="flex1">
            <h2>Free & Easy Background Remover</h2>
            <div id="upload">
                    <input type="file" id="input" class="input" name="image" accept="Image/*" onchange="upload()"> 
                <p>+</p>
            </div>
            <p>Upload Your Image</p>
        </div>

        <div class="flex2">
            <img src="/static/media/c4.png" alt="">
            <img class="arrow" src="/static/media/342790_arrow_right_icon.svg" alt="">
            <img src="/static/media/fuck.png" alt="">
        </div>

    </div>

</body>
</html>